body {
	padding-top: 20px;
	padding-bottom: 20px;
	background: #222222;
	color: #eeeeee;
	font-family: helvetica;
}

p {
	size: 20px;
}

#presents {
	top: 0;
	width: 100%;
	margin: 10;
}

.jumbotron {
	padding:30px 15px;
	margin-bottom:30px;
	color: inherit;
	background-color:#994477;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: 10;
}

#map{
	border: 1px dotted black;
	text-align: center; 
	vertical-align: middle;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

.container {
	max-width: 730px;
}

.container-narrow > hr {
	margin: 30px 0;
}