{% extends "base.html" %}

{% block title %}Create Gathering{% end %}

{% block body %}
<div id="map-canvas" style="width: 100%; height: 100%"></div>
<button class='btn btn-default btn-lg' value="Update Location" id="update-btn"/>

<script>
var map;
var markers = {};
var infowindow = null;
function renderGathering(gathering) {
	var friends = gathering.friends;
	var recommendations = gathering.recommendations;
	var selected_rec = gathering.selected_rec;

	var mapOptions = {
		zoom: 100,
	};
	var bounds = new google.maps.LatLngBounds();
	if (!map) {
		map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
	}
	
	for (var k in friends) {
		var position = new google.maps.LatLng(friends[k][0],friends[k][1]);

		if (k in markers) {
			markers[k].setPosition(position);
		}
		else {
			markers[k] = new google.maps.Marker({
				position: position,
				map: map
			});
		}

		bounds.extend(markers[k].position);
	}
	centrePos = new google.maps.LatLng(gathering.centroid[0],gathering.centroid[1]);
	if (infowindow == null) { 
		infowindow = new google.maps.InfoWindow({
			map: map,
			position: centrePos,
			content: 'CENTRE'
		});
	}
	infowindow.setPosition(centrePos);
	map.fitBounds(bounds)
}

function handleNoGeolocation(errorFlag) {
}

function updateLocation() {
	if(navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(function(position) {
			$.post(window.location.pathname, {
				lat: position.coords.latitude,
				lng: position.coords.longitude
			},function(gathering) {
				renderGathering(gathering);
			});
		}, function() {
			handleNoGeolocation(true);
		});
	}
	else {
		handleNoGeolocation(false);
	}
}

$('#update-btn').click(updateLocation);

function doPoll() {
	$.ajax({
		url: window.location.pathname + '/data',
		data: {},
		ifModified: true,
		success: function(gathering) {
			if (gathering) {
				renderGathering(gathering);
			}
			setTimeout(doPoll,10000);
		},
	});
}
updateLocation();
doPoll();
</script>

{% end %}
