{% extends "base.html" %}

{% block title %}Create Gathering{% end %}

{% block body %}
<div>
	<div id="map-canvas" style="width: 100%; height: 90%"></div>
	<button class='btn btn-default btn-lg' style="width:100%" id="update-btn"/>Update Location</button>
</div>

<script>
var map;
var markers = {};
var infowindow = null;
var your_loc = null;
var your_loc_marker = null;
function renderGathering(gathering) {
	var friends = gathering.friends;
	var recommendations = gathering.recommendations;
	var selected_rec = gathering.selected_rec;

	var mapOptions = {
		zoom: 100,
	};

	var bounds = new google.maps.LatLngBounds(
		new google.maps.LatLng(85, -180), new google.maps.LatLng(-85, 180));
	if (your_loc !== null) {
		// Centre around you at the start, at 10km radius
		bounds = new google.maps.Circle({center: your_loc, radius: 10000}).getBounds();
	}

	if (!map) {
		map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
	}

	for (var k in friends) {
		var position = new google.maps.LatLng(friends[k][0],friends[k][1]);

		if (k in markers) {
			markers[k].setPosition(position);
		}
		else {
			markers[k] = new google.maps.Marker({
				position: position,
				map: map
			});
		}

		bounds.extend(markers[k].position);
	}

	// Perhaps no friends yet.
	if (gathering.centroid !== null) {
		centrePos = new google.maps.LatLng(gathering.centroid[0],gathering.centroid[1]);

		if (infowindow == null) {
			infowindow = new google.maps.InfoWindow({
				map: map,
				position: centrePos,
				content: 'CENTRE'
			});
		}
		infowindow.setPosition(centrePos);
	}

	if (your_loc !== null && your_loc_marker === null) {
		your_loc_marker = new google.maps.Marker({
			position: new google.maps.LatLng(your_loc.lat,your_loc.lng),
			title: 'You',
			icon: {
				path: google.maps.SymbolPath.CIRCLE,
				scale: 5
			}
		});
		your_loc_marker.setMap(map);
	}
	map.fitBounds(bounds);

}

function handleNoGeolocation(errorFlag) {
}

function updateLocation() {
	console.log("updating location.");
	if(navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(function(position) {
			your_loc = {
				lat: position.coords.latitude,
				lng: position.coords.longitude
			};
			$.ajax({
				type: "PUT",
				url: window.location.pathname,
				data: {
					lat: position.coords.latitude,
					lng: position.coords.longitude
				},
				success: function(gathering) {
					renderGathering(gathering);
				}
			});
		}, function() {
			handleNoGeolocation(true);
		});
	}
	else {
		handleNoGeolocation(false);
	}
}
$('#update-btn').click(updateLocation);

function doPoll() {
	$.ajax({
		url: window.location.pathname + '/data',
		data: {},
		ifModified: true,
		success: function(gathering) {
			if (gathering) {
				renderGathering(gathering);
			}
			setTimeout(doPoll,10000);
		},
	});
}

if (document.cookie.indexOf("friend_id") < 0) {
	updateLocation();
}
doPoll();
</script>

{% end %}
