{% extends "base.html" %}

{% block title %}Create Gathering{% end %}

{% block body %}
<div class="row">
	<div class="col-md-6">
		<div id="map-canvas" style="width: 100%; height: 90%"></div>
	</div>
	<div class="col-md-6">
		<button class='btn btn-default btn-lg' style="width:100%" id="update-btn"/>Update Location</button>
		<ul id="food-list" style="overflow:auto;height:85%">
		</ul>
	</div>
</div>

<script>
var in_gathering = {{in_gathering}};
var map;
var markers = {};
var infowindow = null;
var your_loc = null;
var your_loc_marker = null;
var bounds;
var food_markers = [];


function appendToFoodList(recommendation) {
	$('#food-list').append("<li>"+
		"<div class='rec-name'><strong>"+recommendation.name+"</strong></div>\n" +
		"<div>"+recommendation.vicinity+"</div>\n" +
		"</li>");

}
function renderGathering(curr_loc,gathering) {
	console.log(gathering)
	var friends = gathering.friends;
	var recommendations = gathering.recommendations;
	var selected_rec = gathering.selected_rec;
	var mapOptions = {
		zoom: 100,
	};

	if (!map) {
		map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
	}
	if (!bounds) {
		if (curr_loc) {
			bounds = new google.maps.Circle({center: curr_loc, radius: 100}).getBounds()
		} else {
			bounds = new google.maps.LatLngBounds();
		}
	}
	for (var k in friends) {
		var position = new google.maps.LatLng(friends[k][0],friends[k][1]);

		if (k in markers) {
			markers[k].setPosition(position);
		}
		else {
			markers[k] = new google.maps.Marker({
				position: position,
				map: map
			});
		}

		bounds.extend(markers[k].position);
	}

	// Perhaps no friends yet.
	if (gathering.centroid !== null) {
		centrePos = new google.maps.LatLng(gathering.centroid[0],gathering.centroid[1]);

		if (infowindow == null) {
			infowindow = new google.maps.InfoWindow({
				map: map,
				position: centrePos,
				content: 'CENTRE'
			});
		}
		infowindow.setPosition(centrePos);
	}

	if (your_loc !== null && your_loc_marker === null) {
		your_loc_marker = new google.maps.Marker({
			position: new google.maps.LatLng(your_loc.lat,your_loc.lng),
			title: 'You',
			icon: {
				path: google.maps.SymbolPath.CIRCLE,
				scale: 5
			}
		});
		your_loc_marker.setMap(map);
	}

	if (recommendations && recommendations.length > 1) {
		$('#food-list').empty();
		for (var i=0; i < food_markers.length; i++) {
			food_markers[i].setMap(null);
		}
		food_markers = new Array(recommendations.length);
		for (var i=0; i < recommendations.length; i++ ) {
			food_markers[i] = new google.maps.Marker({
				position: recommendations[i].geometry.location,
				icon: new google.maps.MarkerImage(
					recommendations[i].icon,
					null,
					null,
					null,
					new google.maps.Size(30, 30)
				),
				map: map
			});
			appendToFoodList(recommendations[i]);
		}
	}


	map.fitBounds(bounds);

}

function handleNoGeolocation(errorFlag) {
}

function getCurrentLocation(cb) {
	if(navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(
			function(position) {
				your_loc = {
					lat: position.coords.latitude,
					lng: position.coords.longitude
				};
				cb(your_loc);
			},
			function() {
				handleNoGeolocation(true);
			}
		);
	} else {
		handleNoGeolocation(true);
	}
}

function updateLocation(callback) {
	console.log("updating location.");
	getCurrentLocation(function(loc) {
		$.ajax({
			type: in_gathering?"PUT":"POST",
			url: window.location.pathname,
			data: loc,
			success: function(gathering) {
				in_gathering = true;
				if (callback != null) {
					console.log("there's a callback!");
					callback();
				}
			}
		});
	});
}
$('#update-btn').click(function () {
	updateLocation();
});

function doPoll() {
	$.ajax({
		url: window.location.pathname + '/data',
		data: {},
		ifModified: true,
		success: function(gathering) {
			if (gathering) {
				renderGathering(null,gathering);
			}
			setTimeout(doPoll,10000);
		},
	});
}

if (in_gathering) {
	doPoll();
} else {
	updateLocation(doPoll);
}
</script>

{% end %}
