{% extends "base.html" %}

{% block title %}Create Gathering{% end %}

{% block body %}
<!-- <a href="https://github.com/basement-gang/wtfsge">
  <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
</a> -->
<div class="container">
  <div id="presents">
    <small><em><a href="https://github.com/basement-gang">basement gang</a> presents:</em></small>
  </div>
  <div>
    <div class="jumbotron text-center">
      <h1>eat / wtf / sg</h1>
      <p>Have a group of friends who don't know where to eat?</p>
    </div>
    <!-- <ol>
      <li>Create a gathering</li>
      <li>Share the link with your friends</li>
      <li>Everyone check in</li>
      <li>A list of yummy places pop up</li>
      <li>Choose a yummy place</li>
      <li>And ... you're done!</li>
    </ol> -->
    <div class="text-center">
      <p>We'll figure that for you! Blast off!</p>
    </div>
    <form role='form' action="{{ reverse_url('newgathering') }}" method="post">
      <div class="text-center">
        <input class='btn btn-lg btn-danger' type="submit" value="KA-POW!" />
      </div>
    </form>
    
  </div>
</div>
<div id="footer">
  Made with &hearts; in the basement. <a href="https://github.com/basement-gang/wtfsge">Fork us \o/</a>.
</div>
{% end %}
