<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

<div >
  <div class="row">
    <div class="col-sm-7 col-xs-12">
    <h1>Eat / WhereTheFuck / Sg</h1>
    <p>Have a group of friends, but don't know where to eat?</p>
    <ol>
      <li>Create a gathering and share the link with all your friends.</li>
      <li>WTFSGE will save the location of each friend, and find a central location for all of you.</li>
      <li>Pick from the list of food places around that central location.</li>
      <li>And ... you're done!</li>
    </ol>
    <div class="well well-sm">
        <input  type="button" value="Gather the fuck up!" />
      </form>
    </div>
  </div>
  </div>
</div>

</body>
</html>